body {

    background: #0c1c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial sans-serif;
    color: ghostwhite;
    flex-direction: column;

}


* {
    font-family: sans-serif;
    box-sizing: border-box;

}

/* Spécificités du formulaire */
form.nav {

    width: 100%;
    height: 72px;
    margin: 0 auto;
    background-color: #366a95;
    position: sticky;
    top: 0px;
}

/* Spécificités du menu */
form.nav ul.ul-nav {

    display: flex;
    justify-content: space-evenly;
    align-content: center;
    list-style-type: none;
    padding-left: 0;
}

form.nav ul li {
    float: left;
    width: 100%;
    list-style-type: none;
    text-align: center;
    position: relative;
}


form.nav button {

    text-decoration: none;
    color: ghostwhite;
    background-color: #366a95;
    width: 100%;
    font-size: 16px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

form.nav a {
    display: block;
    text-decoration: none;
    color: ghostwhite;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.nav button:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: darkcyan;
    position: absolute;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    z-index: 1000;


}

.nav > ul li:hover .sous {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;

}

.sous ul {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
#suggestionsAll{
    padding: 0;
}
#suggestionsAll ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 10px;
}
#suggestionsAll ul button{
    padding: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.suggestions{
    display: none;
    background-color: rgba(12, 28, 44, 0.53);
    position: relative;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    border-radius: 5px;
    border-color: cyan;
    border-width: 0.1rem;
    border-style: solid;
    z-index: 1000;

}
.searchBar{
    margin-bottom: 0;
}

.searchBar:focus + .suggestions, .searchBar:hover + .suggestions, .suggestions:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    max-height: 500px;
    overflow-y: auto;
}
.suggestions button{
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0;
    box-sizing: content-box;
}
.added {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 0;
    list-style-type: none;
    max-height: 500px;
}
.added li {
    background-color: rgba(12, 28, 44, 0.53);
    list-style-type: none;
    width: 100%;
    padding-left: 0;
    border-radius: 5px;
    border-color: cyan;
    border-width: 0.1rem;
    border-style: solid;
}
.sous li {
    width: 100%;
    text-align: center;
}

.sous .button {
    padding: 10px;
    border-bottom: none;
    display: block;
    margin: 0;
}

.sous .button:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}


button {

    background: RGBa(0,0,0,0.1);
    border-color: cyan;
    padding: 5px;
    margin: 2px;
    color: #fff;
    border-width: 0.1rem;
    border-radius: 5px;

}

button:hover {
    background-color: RGBa(54, 107, 150,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}
textarea{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {
    text-align: center;
    color: #fff;
}


footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;

}

hr {
    border: none;
    border-top: 2px solid #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 2px;
}
.userForm{
    background-color: RGBa(150,150,150,0.1);
    border-width: 0.1rem;
    border-color: cyan;
    border-style: solid;
    padding:1rem;
}
.buttonContainer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}

/* Changer la taille max sur une ligne pour les commentaires et postes */